{% extends "layout.html" %} 

{% block content %} 
<div class="row">
  <div class="col-6 text-left">
    <h4 class="text-primary">
      Activos
    </h4>
  </div>
  <div class="col-6 text-right">
    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#userModal">
    <i class="fa fa-plus"></i>
    Nuevo Activo
</button>
  </div>
</div>
<hr/>
<table class="table table-striped">
  <thead>
    <tr>      
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Caracteristica </th>
      <th scope="col">Marca </th>
      <th scope="col">Modelo </th>
    </tr>
  </thead>
  <tbody>
    {% for ac in activos%}
    <tr>
      <th scope="row">{{ ac[0] }}</th>
      <td>{{ ac[1] }}</td>
      <td>{{ ac[2] }}</td>  
      <td>{{ ac[3] }}</td> 
      <td>{{ ac[4] }}</td>  
    </tr>
    {% endfor%}    
  </tbody>
</table>
{% endblock %}