{% extends "layout.html" %} 

{% block content %} 

<h1>proximos pagos</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Nombre</th>      
      <th scope="col">fecha inicio </th>
      <th scope="col">fecha termino </th>
      <th scope="col">Pago </th>
    </tr>
  </thead>
  <tbody>
    {% for p in pendings%}
    <tr>
      
      <td>{{ p.nombre }}</td>
      <td>{{ p.f_inicio }}</td>
      <td>{{ p.f_termino}}</td>
      <td>{{ p.f_pago}}</td>  
       
    </tr>
    {% endfor%}    
  </tbody>
</table>
{% endblock %}
