{% extends "layout.html" %} 

{% block content %} 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" height: min-content;>#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Vencio</th>
      <th scope="col">Corte </th>
      <th scope="col">Pago </th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions%}
    <tr>
      <th scope="row">1</th>
      <td>{{ action.0 }}</td>
      <td>{{ action.1}}</td>  
      <td>{{ action.2}}</td> 
      <td>{{ action.3}}</td>  
    </tr>
    {% endfor%}    
  </tbody>
</table>
{% endblock %}
