<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>SAIT</title>
</head>
<body>
<div class="wrapper">
    <!--sidebar-->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="static/img/user.png" alt="not faund" style="width: 150px; height: 150px; display:block;margin:auto; border-radius: 150px ">
            <div>
                <h3>{{ currentUser[1]}}</h3>
            </div>
        </div>

        <ul class="list-unstyled components">
            <p>Panel de control</p>
            <li>
                <a href="/dashboard">Dashboard</a>

            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="/users">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Usuarios
                </a>
            </li>            
            <li>
                <a href="/providers">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    Proveedores</a>
            </li>
            <li>
                <a href="/services">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    Servicios</a>
            </li>
            
            <li>
                <a href="/softwares">
                    <i class="fa fa-random" aria-hidden="true"></i>
                    Software
                </a>
            </li>
            <li>
                <a href="/activos">
                    <i class="fa fa-random" aria-hidden="true"></i>
                    Activos
                </a>
            </li>
            <!-- <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li> -->
        </ul>

    </nav>

    <div id="content">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="" style="width:60; height:50;"  alt="Logo cliente">
                </a>

                <strong class="titulo">Empresa cliente</strong>

                <a id="logout" tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Cerrar sesion" class="navbar-brand mr-sm-2 d-none d-md-block" href="{{ url_for('.logout')}}">
                    <img src="static/img/out.png" style="width: 25px; height: 25px;" alt="Log out" id="ico">
                </a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
        <script src="static/js/layoutscript.js"></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>
